/*
body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
    font-size: 17px;
}
.form-control{ font-size: 17px; }
*/
.my-swal {
  z-index: 300000 !important;
}
.clickable{cursor: pointer;}
.page-title { padding:20px 36px 20px 0;}
.h6.panel-title, h6.panel-title {
    /*font-size: 20px;*/
}
tr.js-filter-row {background-color: #f5f5f5;}
tr.js-filter-row > th{padding: 2px !important;}
input.js-filter {height: 28px;}
.filter-icon {margin-top: -20px;display: inline-block;float: right;margin-right: 5px;color: #219ade;}
#return-to-top {z-index:100000;position: fixed;bottom: 20px;right: 20px;background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.7);width: 50px;height: 50px;display: block;text-decoration: none;-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;display: none;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
#return-to-top i {color: #fff;margin: 0;position: relative;left: 16px;top: 13px;font-size: 19px;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
#return-to-top:hover {background: rgba(0, 0, 0, 0.9);}
#return-to-top:hover i {color: #fff;top: 5px;}
.alert-dismissible {padding-right: 35px !important;}
ul.list.list-unstyled.list-inner {
    margin-left: 30px;
}
.datepicker { z-index: 2500 !important; }
.datepicker table tr td.today:before {content: "";position: relative;top: -1px;right: -17px;width: 0;height: 0;border-top: 6px solid #26A69A;border-left: 6px solid transparent;}
.datepicker .table-condensed td, .datepicker .table-condensed th { padding: 8px; }
.btn-group-xxs>.btn, .btn-xxs {
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1.6666667;
    border-radius: 4px;
}
.alert-float {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 98%;
    z-index:9999; 
    border-radius:0px;
    margin: 10px;
}
.btn-notification-badge{
    border: 2px solid;
    position: absolute !important;
    top: -10px !important;
    right: -8px;
}
.fancybox-close{ right: 22px !important;top: 15px !important; }

select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;
}
select[readonly].select2 + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}
select[readonly].select2 + .select2-container .select2-selection__arrow, select[readonly].select2 + .select2-container .select2-selection__clear {
    display: none;
}
.header-highlight .navbar-header:not([class*=bg-]) {
    background-color: #ffffff;
}

.dataTables_scrollBody{
    min-height: 150px;
}

.checkout-files-li > a {
    padding-left: 30px !important;
}
.checkout-files-li > ul > li > a {
    padding-left: 42px !important;
}
.checkout-files-li > ul > li > ul > li > a {
    padding-left: 56px !important;
}
.checkout-files-li > ul > li > ul > li > ul > li > a {
    padding-left: 70px !important;
}
.avatar {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;;
}
.avatar-preview {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#dataTables {
    width: 100% !important;
}
@media (min-width: 769px){
    .nav-tabs>li {
         /*font-size: 16px;*/
    }
}